@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300&family=Barlow:ital,wght@1,300;1,400&family=Dosis:wght@500&family=Play&display=swap');
p{
    color: rgb(255, 255, 255);
}

a{
    color: rgb(255, 255, 255);
}



.marg {
    margin-top: 100px;
}
h1{ 
    font-family: 'Bebas Neue', cursive;
    color: aliceblue;
    text-align: center;
}
.letra{ 
    color: black;
    text-align: justify;
}
.quienes{
    text-align: justify;
}
.titulo{
    color: black;
    text-align: center;
}
.somos{
    text-align: center;
}
.accordion-button{
    color: white;
    background-color: black;
}
.accordion-body{
    color: rgb(233, 227, 227);
background-color: black;
}
.accordion-button:not(.collapsed){
    background-color: black;
}
.shampoo{
    color: black;
    text-align: center;
    }

.fut{
    color: black;
}
